* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.__container {
  max-width: 457px;
  margin: 0px auto;
  border: 2px solid black;
  padding: 30px;
  margin-top: 30px;
}
body{
  background-color: blanchedalmond;
}
.task{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
.ulLinks{
  display: flex;
  list-style: none;
  background-color:burlywood;

}
.ulLinks li{
  padding: 10px;
}
a{
  color: darkblue;
  font-weight: 500;
}
.ulLinks li:hover{
  background-color: coral;
}
img{
  width: 400px;
}